.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-width {
  max-width: 1226px;
  height: 1268px;
  margin: 100px auto;
  background-color: #ffffff;
}

.card-sub-cotainer {
  max-width: 1098px;
  margin: 0 auto;
}

.layer-info {
  opacity: 1;
  color: #006ab3;
  font-family: TTNorms-Bold;
  font-size: 32px;
  width: 342px;
  height: 27px;
  text-align: left;
  margin-left: 25px;
}

.sub-info {
  opacity: 1;
  color: #212529;
  font-family: TTNorms-Regular;
  font-size: 16px;
  text-align: left;
  height: 17px;
  width: 422px;
  margin-top: 20px;
  margin-left: 25px;
}

.steps-info {
  opacity: 1;
  color: #006bb3;
  font-family: TTNorms-Medium;
  font-size: 20px;
  text-align: left;
  width: 95px;
  height: 20px;
  /* margin-left: 25px; */
  text-align: left;
}

.step-rectangle-container {
  max-width: 1099px;
  height: 72px;
  opacity: 1;
  background-color: #eaeaea;
  /* margin-left: 25px; */
  margin-top: 13px;
  display: flex;
}

.active {
  background-color: #006ab3 !important;
}

.first-step {
  width: 369px;
  height: 71px;
  opacity: 1;
  /* background-color: #006ab3; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 0px 35px 35px 0px;
}

.second-step {
  width: 138px;
  height: 21px;
  opacity: 0.5098039215686274;
  color: #495057;
  font-family: TTNorms-Medium;
  font-size: 20px;
  margin: 20px auto;
  border-right: rgb(255, 0, 0);
}

.third-step {
  width: 119px;
  height: 21px;
  opacity: 0.5098039215686274;
  color: #495057;
  font-family: TTNorms-Medium;
  font-size: 20px;
  margin: 20px auto;
}

.root {
  margin: 2px;
}

.form-container {
  display: flex;
  max-width: 1098px;
  margin: 0 auto;
  margin-top: 100px;
}

.button-container {
  display: flex;
  max-width: 1098px;
  margin: 0 auto;
}

.button-container {
  margin-top: 100px;
  justify-content: space-between;
}

.form-hr {
  margin-top: 10px;
}

.looking-for {
  width: 527px !important;
  height: 66px;
  opacity: 1;
  margin-right: 25px !important;
  margin-bottom: 30px !important;
  /* background-color: #dee2e6; */
}

.skills-input {
  width: 1098px;
  height: 65px;
  opacity: 1;
  margin-top: 15px !important;
  margin-bottom: 20px !important;
}

.experiance-input {
  width: 521px;
  height: 66px;
  /* margin-left: 25px !important; */
}

.job-description {
  width: 1098px !important;
  height: 173px !important;
  margin-bottom: 30px !important;
}

.info-line {
  width: 1226px;
  margin-top: 2rem !important;
}

.logo-text {
  margin-top: 20px;
  opacity: 1;
  color: #8c8c8c;
  font-family: TTNorms-Regular;
  font-size: 12px;
  text-align: left;
  height: 13px;
  width: 154px;
}

.image-upload {
  width: 330px;
  height: 60px;
  opacity: 1;
  background-color: #47cb5d;
}

.image-upload > input {
  display: none;
}

.file-input {
  width: 20px;
  height: 50x;
  opacity: 1;
  color: white !;
  margin-left: 33px !important;
  margin-top: 18px !important;
  margin-right: 6px !important;
  margin-bottom: 22px !important;
}

.upload-text {
  width: 238px;
  opacity: 1;
  opacity: 1;
  color: #ffffff;
  font-family: TTNorms-Bold;
}

.back-button {
  width: 278px;
  height: 60px;
  opacity: 1;
  border: 2px solid rgb(121, 96, 96);
  text-align: center;
}

.next-button {
  width: 278px;
  height: 60px;
  opacity: 1;
  background-color: #006bb3;
  text-align: center;
}

.form-heading {
  width: 442px;
  height: 30px;
  /* border: 2px solid black; */
  opacity: 1;
  color: #000000;
  font-family: TTNorms-Medium;
  font-size: 30px;
  margin-left: 50px !important;
  margin-top: 40px;
  text-align: left;
  margin-bottom: 10px;
}

.form-line {
  width: 1226px;
  margin-top: 2rem !important;
}

.form-actions {
  max-width: 890px;
  height: 437px;
  opacity: 1;
  /* background-color: #ffffff; */
  /* border: 2px solid black; */
  margin-left: 47px;
  margin-top: 20px;
}
.action-list {
  display: flex;
}

.icon-1 {
  display: flex;
  width: 50px;
  border-radius: 8%;
  height: 50px;
  opacity: 1;
  background-color: #efecec;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #acacac;
}

.icon-2 {
  display: flex;
  width: 50px;
  border-radius: 8%;
  height: 50px;
  opacity: 1;
  margin-left: 82px;
  /* background-color: #efecec; */
  background-color: #006ab3;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}

.icon-3 {
  display: flex;
  width: 50px;
  margin-left: 82px;
  border-radius: 8%;
  height: 50px;
  opacity: 1;
  background-color: #efecec;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #acacac;
}

.form-inputs {
  display: flex;
  margin-top: 30px !important;
  /* border: 2px solid black; */
}

.form-last-input {
  width: 250px !important;
  height: 50px !important;
}

.sunday-input {
  width: 250px !important;
  height: 50px !important;
  opacity: 1;
  border-radius: 5%;
  margin-right: 10px;
  background-color: #e2e2e2 !important;
}

.sunday-input-btn {
  opacity: 1;
  font-family: TTNorms-Medium;
  font-size: 16px;
  text-align: center;
  width: 166px;
  height: 50px;
  border-radius: 5%;
  color: #acacac !important;
  background-color: #efecec !important;
}

.list-inputs {
  width: 250px !important;
  height: 50px !important;
  opacity: 1;
  border-radius: 5%;
  margin-right: 10px;
  background-color: #e2e2e2 !important;
}

.list-inputs-btn {
  opacity: 1;
  color: #ffffff !important;
  font-family: TTNorms-Medium;
  font-size: 16px;
  text-align: left;
  width: 166px;
  height: 50px;
  border-radius: 5%;
  background-color: #006ab3 !important;
  /* background-color: #d5d8da; */
}

.other-input {
  width: 250px !important;
  height: 50px !important;
  opacity: 1;
  border-radius: 5%;
  background-color: #e2e2e2;
}

.other-input-btn {
  opacity: 1;
  color: #ffffff !important;
  font-family: TTNorms-Medium;
  font-size: 16px;
  text-align: center;
  width: 166px;
  height: 50px;
  border-radius: 5%;
  background-color: #006ab3 !important;
  /* background-color: #e2e2e2 !important; */
}

.error {
  color: red;
  font-size: 14px;
}

.instructions {
  margin-top: 50px auto;
  display: flex;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
