* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.card-width {
  width: 100%;
  /* border: 2px solid black; */
  margin: 30px auto;
  background-color: #1b1a1a;
}

.card-body {
  margin-top: 30px;
  /* border: 1px solid beige; */
  border: 1px solid #eaeaea;
  flex: 1 1 auto;
  /* min-height: 1px; */
  padding: 1.25rem;
  width: 100%;
  position: relative;
}

.card-sub-cotainer {
  width: 100%;
}

.layer-info {
  opacity: 1;
  color: #006ab3;
  font-family: TTNorms-Bold;
  font-size: 32px;
  width: 342px;
  height: 27px;
  text-align: left;
  margin-left: 25px;
}

.sub-info {
  opacity: 1;
  color: #212529;
  font-family: TTNorms-Regular;
  font-size: 16px;
  text-align: left;
  height: 17px;
  width: 422px;
  margin-top: 20px;
  margin-left: 25px;
}

.steps-info {
  opacity: 1;
  color: #006bb3;
  font-family: TTNorms-Medium;
  font-size: 20px;
  text-align: left;
  width: 95px;
  height: 20px;
  text-align: left;
}

.step-rectangle-container {
  width: 100%;
  opacity: 1;
  background-color: #eaeaea;
  margin-top: 13px;
  display: flex;
}

.active {
  background-color: #006ab3 !important;
}

.first-step {
  flex-basis: 100% !important;
  height: 71px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 0px 35px 35px 0px;
}

.root {
  margin: 2px;
}

.form-container {
  width: 100%;
  margin-top: 80px;
  /* border: 2px solid red; */
}

.third-form-container {
  width: 80%;
  margin-top: 20px;
  /* border: 2px solid blue; */
}

.input-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.thirdform-input-row {
  display: flex;
  flex-basis: 100%;
  /* justify-content: space-between !important; */
  flex-wrap: wrap;
}

/* .input-data{

} */

.button-container {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
}

.form-hr {
  margin-top: 10px;
}

.input-class {
  flex-basis: 48%;
  margin-bottom: 30px !important;
  background-color: #efecec;
}

.MuiFormHelperText-root {
  color: rgba(255, 0, 0, 0.5);
  background-color: white !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.MuiFormHelperText-contained {
  height: 0px !important;
}

.skills-input {
  width: 100%;
  margin-bottom: 30px !important;
  background-color: #efecec;
}

.job-description {
  width: 100%;
  margin-bottom: 30px !important;
  background-color: #efecec;
}

.info-line {
  width: 1226px;
  margin-top: 2rem !important;
}

.logo-text {
  margin-top: 20px;
  opacity: 1;
  color: #8c8c8c;
  font-family: TTNorms-Regular;
  font-size: 12px;
  text-align: left;
  height: 13px;
  width: 154px;
}

.image-upload {
  width: 330px;
  display: flex !important;
  text-align: center !important;
  height: 60px;
  opacity: 1;
  background-color: #47cb5d;
  cursor: pointer;
}

.image-upload > input {
  display: none;
}

.file-input {
  width: 20px;
  height: 50x;
  opacity: 1;
  color: white !;
  margin-left: 33px !important;
  margin-top: 18px !important;
  margin-right: 6px !important;
  margin-bottom: 22px !important;
}

.upload-text {
  width: 238px;
  opacity: 1;
  color: #ffffff;
  font-family: TTNorms-Bold;
}

.back-button {
  width: 278px;
  height: 60px;
  opacity: 1;
  border: 2px solid rgb(121, 96, 96);
  text-align: center;
}

.next-button {
  width: 278px;
  height: 60px;
  opacity: 1;
  background-color: #006bb3;
  text-align: center;
}

.form-heading {
  width: 100%;
  display: flex;
  height: 30px;
  opacity: 1;
  color: #000000;
  font-family: TTNorms-Medium;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 30px;
}

.form-line {
  width: 1226px;
  margin-top: 1.5rem !important;
}

.form-icons {
  width: 78%;
  margin-top: 50px !important;
}

.action-list {
  display: flex;
  flex-wrap: wrap;

  /* border: 2px solid black; */
  justify-content: space-between;
}

.icon-1 {
  display: flex;
  margin-bottom: 10px;
  width: 50px;
  border-radius: 8%;
  height: 50px;
  opacity: 1;
  background-color: #efecec;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #acacac;
}

.icon-2 {
  display: flex;
  margin-bottom: 10px;
  width: 50px;
  border-radius: 8%;
  height: 50px;
  opacity: 1;
  background-color: #006ab3;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}

.form-inputs {
  display: flex;
  margin-top: 30px !important;
}

.thirdform-spacing {
  justify-content: space-between !important;
}

.input-classes {
  flex-basis: 30%;
  /* margin-left: 10px; */
  height: 50px !important;
  background-color: #e2e2e2 !important;
  margin-bottom: 20px !important;
  margin-right: 17px !important;
}

.input-classes-btn {
  opacity: 1;
  font-family: TTNorms-Medium;
  font-size: 16px;
  text-align: center;
  height: 50px !important;
  flex-basis: 18%;
  border-radius: 5%;
  background-color: #efecec !important;
  color: #acacac !important;
  /* background-color: #efecec ; */
  margin-bottom: 20px !important;
}

.list-inputs {
  width: 250px !important;
  height: 50px !important;
  opacity: 1;
  border-radius: 5%;
  margin-right: 10px;
  background-color: #e2e2e2 !important;
}

.list-inputs-btn {
  opacity: 1;
  color: #ffffff !important;
  font-family: TTNorms-Medium;
  font-size: 16px;
  text-align: left;
  width: 166px;
  height: 50px;
  border-radius: 5%;
  background-color: #006ab3 !important;
  /* background-color: #d5d8da; */
}

.other-input {
  flex-basis: 30%;
  height: 50px !important;
  background-color: #e2e2e2 !important;
  opacity: 1;
  margin-bottom: 20px !important;
}

.makeActive {
  background-color: #006ab3 !important;
}

.other-input-btn {
  margin-left: 4% !important;
  margin-bottom: 20px !important;
  opacity: 1;
  font-family: TTNorms-Medium;
  font-size: 16px;
  text-align: center;
  height: 50px !important;
  flex-basis: 18%;
  border-radius: 5%;
  color: white !important;
  background-color: #006ab3 !important;
}

.add-User {
  /* border: 2px solid bla; */
  display: flex;
  height: 50px;
  width: 15%;
  float: right;
  margin-bottom: 10px;
  margin-top: 20px;
}

.list-btn {
  margin-left: 60px !important;
}

.error {
  color: red;
  font-size: 14px;
}

.instructions {
  margin-top: 50px auto;
  display: flex;
}

.actions-edit {
  margin-left: 13px;
  margin-top: 2px;
}

.actions-delete {
  cursor: pointer;
}

.Home {
  position: relative;
  top: 20px;
  left: 5px;
}

.create-user {
  position: relative;
  /* top: 120px; */
  right: 720px;
}

.create-user-container {
  /* border: 2px solid bla; */
  display: flex;
  height: 50px;
  width: 20%;
  float: right;
  margin-bottom: 10px;
  margin-top: 20px;
}

@media (max-width: 765px) {
  .step-rectangle-container {
    flex-direction: column;
  }

  .first-step {
    flex-basis: 100% !important;
  }

  .input-row {
    flex-direction: column;
  }

  .input-class {
    flex-basis: 100%;
  }

  .image-upload {
    width: 100% !important;
  }

  .upload-text {
    width: 100% !important;
    margin: 0 auto !important;
  }

  .label {
    width: 100% !important;
  }

  .form-icons {
    width: 100%;
  }

  .other-input-btn {
    margin-left: 0% !important;
    flex-basis: 40%;
  }

  .other-input {
    flex-basis: 60%;
  }

  .input-classes {
    flex-basis: 60%;
  }

  .input-classes-btn {
    flex-basis: 40%;
  }

  .third-form-container {
    width: 100%;
  }

  .file-input {
    margin-left: 0px !important;
  }

  .input-classes {
    margin-right: 0px !important;
  }

  .list-btn {
    margin-left: 0px !important;
  }

  .add-User {
    flex-direction: column;
    width: 24%;
  }
  .create-user {
    right: 210px;
    display: inline-flex;
  }
  .create-user-container {
    flex-direction: column;
    width: 30%;
  }
}
